body{
    background-color: rgb(218, 218, 218);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    /* Texto alineado al centro */
    text-align: center;
    font-style: oblique;
    color: black;
}

/* Style for links */
.links{
    text-align: center;
    margin-top: 20px;
}

a{
    margin: 50px 20px;
    color: black;
    /* 50 px of margin in the top and the bottom, and 20 in the sides */
}

a:hover{
    /* Change the color when pass the mouse in the link */
    color: rgb(145, 145, 145);
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; /* circular borders */
    display: block;
    margin: 0 auto; /* center the image horizontally */
}